/* .fade-animation {
    transition: opacity 0.5s linear;
}

.hidden {
    opacity: 0;
}

.visible {
    opacity: 1;
} */
/* Add this CSS to your stylesheets to style the progress bar and text */
.progress {
    position: relative;
    /* Allows absolute positioning for the text inside it */
    width: 100%;
    height: 20px;
}

.progress-bar {
    transition: width 0.5s ease;
    /* Transition for animating width changes */
}

.progress-text {
    position: absolute;
    width: 100%;
    text-align: center;
    transition: none;
}

.no-animation {
    transition: none !important;
    /* Overrides any other transition settings */
}

.card-body {
    position: relative;
    /* Ensures that the padding and height are respected */
    overflow: hidden;
    /* Hides anything outside the bounds of the card-body */
    height: 220px;
    /* Fixed height including padding */
    padding: 0;
    /* Removes internal padding */
}

.log-container {
    position: absolute;
    /* Aligns perfectly inside card-body without affecting its size */
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    /* Provides padding effect */
    height: auto;
    /* Automatically adjusts height to fit between padding */
    overflow-y: auto;
    /* Adds a vertical scrollbar when necessary */
    margin: 0;
    /* Removes default margin */
    white-space: pre-wrap;
    /* Wraps text to prevent horizontal scrollbar */
}