<!-- Include Bootstrap for styling (if not already included) -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

<div class="container">
    <div class="row justify-content-center">
        <div class="col-auto">
            <h2>File Upload and Installation</h2>
            <input type="file" class="form-control-file mb-2" (change)="onFileSelected($event)" #fileUploadInput>

            <!-- Progress bar -->
            <div class="progress mt-3">
                <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar"
                    [style.width.%]="uploadProgress" aria-valuemin="0" aria-valuemax="100"
                    [class.no-animation]="uploadProgress === 0">
                </div>
                <div class="progress-text">{{ uploadProgress }}%</div> <!-- This is the centered text -->
            </div>


            <p *ngIf="selectedUploadFile && uploadProgress == 100" class="mt-3 text-success">Upload Complete!</p>
            <!-- Selected upload file info -->
            <p *ngIf="selectedUploadFile" class="mt-1">
                <strong>File Name:</strong> {{ selectedUploadFile.name }}<br>
                <strong>File Size:</strong> {{ selectedUploadFile.size }} bytes
            </p>
            <button class="btn btn-primary" (click)="uploadFile()"
                *ngIf="selectedUploadFile && !is_uploading">Upload</button>

            <select class="custom-select mt-2" [(ngModel)]="selectedInstallFile">
                <option *ngFor="let file of files" [value]="file">{{ file }}</option>
            </select>
            <button class="btn btn-secondary mt-2" (click)="installFile()">Install</button>
        </div>
    </div>
</div>