/* .fade-animation {
    transition: opacity 0.5s linear;
}

.hidden {
    opacity: 0;
}

.visible {
    opacity: 1;
} */
/* Add this CSS to your stylesheets to style the progress bar and text */
.progress {
    position: relative;
    /* Allows absolute positioning for the text inside it */
    width: 100%;
    height: 20px;
}

.progress-bar {
    transition: width 0.5s ease;
    /* Transition for animating width changes */
}

.progress-text {
    position: absolute;
    width: 100%;
    text-align: center;
    transition: none;
}

.no-animation {
    transition: none !important;
    /* Overrides any other transition settings */
}

.card-body {
    position: relative;
    /* Ensures that the padding and height are respected */
    overflow: hidden;
    /* Hides anything outside the bounds of the card-body */
    height: 220px;
    /* Fixed height including padding */
    padding: 0;
    /* Removes internal padding */
}

.log-container {
    position: absolute;
    /* Aligns perfectly inside card-body without affecting its size */
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    /* Provides padding effect */
    height: auto;
    /* Automatically adjusts height to fit between padding */
    overflow-y: auto;
    /* Adds a vertical scrollbar when necessary */
    margin: 0;
    /* Removes default margin */
    white-space: pre-wrap;
    /* Wraps text to prevent horizontal scrollbar */
}

/* ======================  ====================== */
.highlight-option {
    background-color: #D0EFFF;
    /* Soft blue for a gentle, noticeable highlight */
    color: #003366;
    /* Dark blue for text ensures readability */
}

/* ====================== TABLE ====================== */
table {
    margin-top: 30px;
    /* Consistent top margin for all tables */
}

.table-fixed-horizontal {
    width: 100%;
    /* Full width to occupy the available horizontal space */
    table-layout: fixed;
    /* Enable fixed table layout */
    border-collapse: collapse;
    /* Collapses borders to draw only a single border between cells */
}

.table-fixed-horizontal th,
.table-fixed-horizontal td {
    border: 1px solid #ddd;
    /* Adds borders around cells for separation */
    overflow: hidden;
    /* Hide overflow text */
    text-overflow: ellipsis;
    /* Use ellipsis for text that overflows */
    white-space: nowrap;
    /* Text does not wrap and stays in a single line */
    padding: 8px;
    /* Padding inside cells */
}

.table-fixed-horizontal thead th {
    position: sticky;
    /* Sticky position for header row */
    top: 0;
    /* Stick to the top of the table scroll area */
    background-color: #f8f9fa;
    /* Background color of the header */
    z-index: 10;
    /* Ensures the header is above other rows when scrolling */
}

/* Table for ut ip */
.table-fixed-horizontal th#ip-col,
.table-fixed-horizontal td#ip-col {
    width: 14%;
}

.table-fixed-horizontal th#status-col,
.table-fixed-horizontal td#status-col {
    width: 10%;
}

.table-fixed-horizontal th#progress-col,
.table-fixed-horizontal td#progress-col {
    width: 60%;
}

.table-fixed-horizontal th#install-col,
.table-fixed-horizontal td#install-col {
    width: 16%;
}

.table-fixed-horizontal td#install-col button {
    margin: auto;
    /* This can help override any default styles that might affect centering */
    display: block;
}

/* Table for jobs */
.table-fixed-horizontal th#job-created-time-col,
.table-fixed-horizontal td#job-created-time-col {
    width: 40%;
}

.table-fixed-horizontal th#job-user-col,
.table-fixed-horizontal td#job-user-col {
    width: 20%;
}

.table-fixed-horizontal th#view-artifact-col,
.table-fixed-horizontal td#view-artifact-col {
    width: 20%;
}

.table-fixed-horizontal th#action-artifact-col,
.table-fixed-horizontal td#action-artifact-col {
    width: 20%;
}

.btn-group {
    display: flex;
}

/* CSS to add spacing between buttons */
.btn-primary {
    background-color: blue;
    margin-right: 10px;
    /* Add right margin to the Install button */
}

/* If you want to ensure spacing is uniform regardless of button order */
.btn-group button {
    margin-right: 5px;
    /* Adds margin to the right of each button */
}

.btn-danger {
    background-color: orangered;
    color: white;
    border-color: orangered;
}
